body{
    background-color: white;
    color: rgb(90, 90, 90);
    margin: 0px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Montserrat';

}
body p{
    font-size: 15px;
}

.nav-bar{
    border: 1px rgb(255, 255, 255) solid;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px;
    position: fixed;
    z-index: 2;
}   

 
#nav-home{
    list-style: none;
    display: block;
    width: 160px;
    height: 25px;
    text-align: center;
    background-color: white;
    color: black;
    float: left;
    position: absolute;
    left: 0px;

}
.nav-bar #nav-home a{
    text-decoration: none;
    color: black;
}

#nav-home a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgba(0, 75, 75, 0.616);
}
#nav-about{
    list-style: none;
    display: block;
    width: 105px;
    height: 25px;
    text-align: center;
    background-color: white;
    color: black;
    float: left;
    position: absolute;
    left: 115px;
    
}
.nav-bar #nav-about a{
    text-decoration: none;
    color: black;
}
#nav-about a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgba(0, 75, 75, 0.616);
}
#nav-portfolio{
    list-style: none;
    display: block;
    width: 105px;
    height: 25px;
    text-align: center;
    background-color: white;
    color: black;
    float: left;
    position: absolute;
    left: 230px;

}
.nav-bar #nav-portfolio a{
    text-decoration: none;
    color: black;
}
#nav-portfolio a:hover{
    /*background-color: rgb(202, 202, 202);*/
color: rgba(0, 75, 75, 0.616);
}
#nav-services{
    list-style: none;
    display: block;
    width: 105px;
    height: 25px;
    text-align: center;
    background-color: white;
    color: black;
    float: left;
    position: absolute;
    left: 345px;
}

.nav-bar #nav-services a{
    text-decoration: none;
    color: black;
}
#nav-services a:hover{
    /*background-color: rgb(202, 202, 202);*/
color: rgba(0, 75, 75, 0.616);
}

#nav-contact{
    list-style: none;
    display: block;
    width: 105px;
    height: 25px;
    text-align: center;
    background-color: white;
    color: black;
    float: left;
    position: absolute;
    left: 460px;
    
}

.nav-bar #nav-contact a{
    text-decoration: none;
    color: black;
}
#nav-contact a:hover{
    /*background-color: rgb(202, 202, 202);*/
    color: rgba(0, 75, 75, 0.616);
}

h2{
    text-align: center;
}
#logo-pic{
    opacity: 0.55;
    position: absolute;
    top: 50px;
    left: -0.8px;
    background-image: image("beach.jpg");
    z-index: 0;
}

.logo{
    clear: left;
    background-color: rgb(66, 66, 66);
    color: white;
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
    position: absolute;
    top: 150px;
    left: 475px;
    padding: 1px;
    width: 400px;
    z-index: 1;

}
#aboutme{
    text-align: center;
    font-size: 25px;
    margin-top: 500px;
}
.ilove{
    text-align: center;
}
p{
    margin-left: 1%;
    font-size: 18px;
    text-justify: auto;
}
.profile-pic{
    margin-left: 35px;
    margin-top: 35px;
    margin-right: 35px;
    float: left;

}

.profile-pic:hover{
    opacity: 0.8;
}

.myname{
    margin-left: 150px;
    margin-top: 70px;
}
.wrapper{
    margin-top: 10px;
    position: relative;
    top: -35.5px;
}
.goodat{
    clear: left;
    position: relative;
    top: 80px;
    margin-top: 40px;
    margin-bottom: 120px;
    text-align: center;
}
.lists li{
    margin-top: 40px;
    margin-bottom: 17px;
}
.table1{
    border: 1px solid;
    border-color: rgb(218, 218, 218);
    padding: 5px;
    background: linear-gradient(to right, rgb(75, 75, 75)85%, rgb(241, 241, 241) 10%, rgb(241, 241, 241));
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

    
}
.table2{
    border: 1px solid;
    border-color: rgb(218, 218, 218);
    padding: 5px;
    background: linear-gradient(to right, rgb(75, 75, 75)90%, rgb(241, 241, 241) 10%, rgb(241, 241, 241));
    background-color: rgb(75, 75, 75);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}
.table3{
    border: 1px solid;
    border-color: rgb(218, 218, 218);
    padding: 5px;
    background: linear-gradient(to right, rgb(75, 75, 75)85%, rgb(241, 241, 241) 10%, rgb(241, 241, 241));
    background-color: rgb(75, 75, 75);
    color: white;
    margin-top: 10px;
    margin-bottom: 70px;

}


#portfolio-pic{
    position: relative;
    left: -241px;
    opacity: 0.85;
    margin-bottom: 30px;
    margin-top: -11px;
    filter: blur(3px);
    filter: brightness(50%);
}
.portfolio-tag{
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -270px;
}

.work-pics{
    position: relative;
    left: 20px;
}
#box2{
    margin-left: 20px;
    float: left;
    margin-top: 50px;
    
}
#box2:hover{
    opacity: 0.5;
}

.box3{
    margin-left: 20px;
    float: left;
    margin-top: 50px;
}
.box3:hover{
    opacity: 0.5;
}
.box4{
    margin-left: 20px;
    float: left;
    margin-top: 50px;
}
.box4:hover{
    opacity: 0.5;
}
.box5{
    margin-left: 20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box5:hover{
    opacity: 0.5;
}
.box6{
    margin-left: 20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box6:hover{
    opacity: 0.5;
}
.box7{
    margin-left: 20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box7:hover{
    opacity: 0.5;
}

.mywork p strong{
    margin-left: 43.3%;
    text-align: center;
    margin-top: 70px;
    font-size: larger;
}
.myworkParagraph p{
    text-align: center;
    clear: both;
    position: relative;
    font-size: medium;
}
.loadmore{
    text-align: center;
    border-color: rgb(78, 78, 78);
    margin-top: 30px;
    margin-bottom: 60px;
    clear: left;
    padding: 15px;

}
#services-pic{
    position: relative;
    left: -241px;
    opacity: 0.8;
    filter: brightness(40%) blur(1px);
    z-index: -3;
}
.services-tag{
    text-align: center;
    font-size: 47px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -250px;
}
.background{ 
    width: 270px;
    height:300px;
    border-radius: 15px;

}
.background-base{
    background-color: white;
    width: 110%;
    height: 110%;
    border-radius: 15px;
    position: relative;
    top: 25px;
    left: -13px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 8px 32px 0px rgb(0, 0, 0, 0.57);
    z-index: -1;
}
.background-1{
    position: relative;
    left: -40px;
    top: -250px;
}
.description{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.background-2{
    position: relative;
    left: 340px;
    top: -550px;
}
.background-3{
    position: relative;
    left: 720px;
    top: -850px;
}
.services-list{
    margin-bottom: -600px;
}

.services-list .graphic-design{
    text-align: center;
    padding-top: 100px;
    font-size: large;
    font-weight: bolder;
}
.services-list .web-design{
    text-align: center;
    position: relative;
    padding-top: 100px;
    font-size: large;
    font-weight: bolder;
}
.services-list .backend-development{
    text-align: center;
    padding-top: 100px;
    font-size: large;
    font-weight: bolder;
}
.my-services{
    margin-left: 43.3%;
    margin-top: 70px;
    margin-bottom: -20px;
    font-size: larger;
    position: relative;
    top: 250px;
}
.my-services-body{
    margin-bottom: 80px;
}

#contact-pic{
    position: relative;
    left: -241px;
    opacity: 0.8;
    filter: blur(3px);
    filter: brightness(50%);
}
.contact-tag{
    text-align: center;
    font-size: 47px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -250px;
}

.whereiwork strong{
    margin-left: 41%;
    text-align: center;
    margin-top: 50px;
    font-size: larger;
    
}
.country-pic{
    opacity: 0.87;
    float: left;
    filter: grayscale(0.7);
}
.love{
    text-align: center;
    margin-bottom: 80px;
}
.note{
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    margin-top: 125px;
}

.contact-info li{
    position: relative;
    top: 12px;
    margin-left: 35%;
    margin-bottom: 40px;
}


.comment-form p{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
    margin-top: 13px;

}
.comment-form .form-name input{
    position: relative;
    border-radius: 3px;
    border-width: 0.1px;
    height: 40px;
    width: 235px;
    padding-left: 12px;
    margin-left: 27%;
    margin-bottom: 5px;
    border-color: aqua;
    float: left;
}
.comment-form .form-email input{
    position: relative;
    border-radius: 3px;
    border-width: 0.1px;
    height: 40px;
    width: 235px;
    padding-left: 12px;
    margin-left: 2%;
    margin-bottom: 5px;
    border-color: aqua;
    
}
.comment-form .form-message input{
    position: relative;
    border-radius: 3px;
    border-width: 0.1px;
    height: 40px;
    width: 507px;
    padding-left: 12px;
    margin-left: 27%;
    margin-bottom: 5px;
    margin-top: 2%;
    border-color: aqua;
}


.comment-form .form input:hover{
    border-color: red;
}
.message-btn{
    position: relative;
    background-color: rgb(38, 106, 133);
    color: white;
    border-width: 0px;
    height: 30px;
    border-radius: 5px;
    margin-left: 70%;
    margin-top: 20px;
}
.message-btn:hover{
    background: linear-gradient(rgb(54, 142, 177), rgb(52, 183, 235));
}

.top{
    text-align: center;
    width: 100px;
    height: 45px;;
    margin-top: 65px;
    margin-bottom: 10px;
    margin-left: 46%;
    padding: 10px;
    font-size: medium;
    color: rgb(117, 117, 117);
    
}
.top a{
    text-decoration: none;
    color: black;
}
.top:hover{
    color: rgb(32, 32, 32);
}
.footer-content{
    border: 1px grey solid;
    width: 100%;
    background-color: rgb(75, 75, 75);
    position: absolute;
    left: 0px;
    margin-top: 270px;
    

}
.footer-content:hover{
    background-color: black;
}
.personal-info{
    margin-top: 50px;
    padding-left: 40%;
    color: white;
}
